@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: Poppins;
  scroll-behavior: smooth;
}

.herotext {
  background: url("../assets/tenor.gif");
  /* background: linear-gradient(to right, #121FCF 0%, #CF1512 100%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav {
  filter: drop-shadow(5px 5px 10px #0000008d);
}

.facebook:hover {
  background: linear-gradient(45deg, #383e4b, #727276, #c5b9b9);
}

.linkedin:hover {
  background: linear-gradient(45deg, #134ac0, #316ff6, #78a3ff);
}

.instagram:hover {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.cursor {
  box-shadow: 0 0 20px #131212, 0 0 80px #131212, 0 0 150px #131212;
}
.cursor::before{
  content: '';
  position: absolute;
  background: #000;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  transform: translate(-30%,-30%);
  border-radius: 50%;
}





.btn {
  font-family: inherit;
  /* font-size: 20px; */
  /* background: royalblue; */
  color: white;
  /* padding: 0.7em 1em;
  padding-left: 0.9em; */
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.btn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.btn svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.btn:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btn:hover svg {
  transform: translateX(1.2em) rotate(10deg) scale(1.1);
}

.btn:hover span {
  transform: translateX(5em);
}

.btn:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
